Nodes.json
[{"id":"c91c5361.8534a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"88958133.45d2c","type":"inject","z":"c91c5361.8534a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["13f9bafa.658c45"]]},{"id":"13f9bafa.658c45","type":"debug","z":"c91c5361.8534a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"a8f3d63c.059758","type":"inject","z":"c91c5361.8534a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":180,"wires":[["7ef5644a.5d173c"]]},{"id":"9a6f2dc4.69e5c","type":"debug","z":"c91c5361.8534a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":200,"wires":[]},{"id":"7ef5644a.5d173c","type":"function","z":"c91c5361.8534a","name":"Hello World!","func":"msg.payload = (new Date(msg.payload)).toLocaleString(); return msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["6b50484c.c8b948"]]},{"id":"6b50484c.c8b948","type":"change","z":"c91c5361.8534a","name":"Flow last triggered at","rules":[{"t":"set","p":"time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":320,"wires":[["9a6f2dc4.69e5c"]]}]
